VITE_FIREBASE_API_KEY="AIzaSyC1IcatLvy9k80vjIChcbPs-Iz6RNkygbk"
VITE_FIREBASE_AUTH_DOMAIN="my-test-2603v1.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="my-test-2603v1"
VITE_FIREBASE_STORAGE_BUCKET="my-test-2603v1.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="194939487080"
VITE_FIREBASE_APP_ID="1:194939487080:web:1ece95639034a0e4ce0cdd"