VITE_FIREBASE_API_KEY="AIzaSyAYMg4KzG0uBOBlT5Jv1OgiuerAuCb-_NQ"
VITE_FIREBASE_AUTH_DOMAIN="my-test-2603-2e412.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="my-test-2603-2e412"
VITE_FIREBASE_STORAGE_BUCKET="my-test-2603-2e412.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="204070569822"
VITE_FIREBASE_APP_ID="1:204070569822:web:8095a8419bf1493aedb1cf"